* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px 40px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: 100%;

}

header h1 {
    display: inline;
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: #fce138;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #fce138
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.5;
    margin: 0 30px;

}

.hero {
    background-size: contain;
    background-position: 100%;
}


footer {
    background: #fce138;
    width: 100%;
    padding: 15px 20px;
}

footer h1 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}