* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.portfolio {
    max-width: 1300px;
    margin: auto;
}

/* Header Start */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../css/images/portfolio-image.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: #fdfefe;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #fdfefe;
    text-decoration: underline #fdfefe;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul li {
    display: inline;
    font-weight: lighter;
    font-size: 1.5;
    margin: 0 30px;
}
/* Header End */
/* Projects section */
.section-title {
  font-size: 40px;
  color: #195ba6;
  padding: 5px;
  text-align: center;
  margin: 0 auto 25px auto;
  width: 50%;
}

.first-title {
    padding: 15px;
}

.flex-row p {
    text-align: center;
    width: 100%;
    padding: 25px;
}

.project {
    padding: 5px;
    margin: 10px auto;
    border: 2px;
    border-color: white;
}

.content {
    background-color: white;
}

.content p {
    padding: 20px 0 20px 0;
}

h1 {
    word-break: break-all;
}
  
.row {
    margin: 8px -16px;
}

.row,
.row > .project {
  padding: 8px;
}


.project {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.project {
  background-color: white;
  padding: 10px;
}

/* End Projects Section */
/* Footer start/ contact info start */
footer {
    background: #ec9913;
    width: 100%;
    padding: 15px auto 0 auto;
    height: 200px;
}

footer h3 {
    text-align: center;
    font-size: 35px;
    color: #195ba6;
    line-height: 75px;
}

.contact-content p {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5;
    text-decoration: underline;
    justify-content: space-between;
    color: #195ba6;
} 
/* End footer/ contact info */